@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Tailwind CSS styles for underline animation */
.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ce08b3;
  transition: width 0.5s;
}

.hover-underline-animation:hover::before {
  width: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  
}
a{
  text-decoration: none;
  color: inherit;

}
.app{
  width: 80%;
  margin: auto;
}